.yellow{
    background:rgb(50, 50, 0);
    border-bottom-left-radius:100%;
    transition:all 0.1s;
}
.yellowLighten{
    background:rgb(255, 255, 0);
    box-shadow: 0 0 60px 1px rgb(255, 238, 0);
}