.panel {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: #0b0014;
  position: absolute;
  align-self: center;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.gameTitle {
  flex-basis: 100%;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Nosifer', cursive;
  color: #c337ff;
  animation: neonTitle 0.08s ease-in-out infinite alternate;
}

.panelRow {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 100%;
}

.controlBTNContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  letter-spacing: 2px;
  flex-basis: 65px;
}

.controlBTNContainer:nth-child(2) {
  flex-basis: 79px;
}

.start {
  color: #008cff;
  animation: neonStartText 0.08s ease-in-out infinite alternate;
  align-self: center;
}

.strict {
  color: #fbff00;
  animation: neonStrictText 0.08s ease-in-out infinite alternate;
  align-self: center;
}

.strictIndicator {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -13px;
}

.strictModeOn {
  background: #ffbb00;
  animation: neonStrictModeOn 0.08s ease-in-out infinite alternate;
}

@keyframes neonTitle {
  from {
    text-shadow: 0 0 55px #7710ff;
  }
  to {
    text-shadow: 0 0 50px #8e3eff;
  }
}

@keyframes neonStartText {
  from {
    text-shadow: 0 0 10px #8e3eff;
  }
  to {
    text-shadow: 0 0 8px #8e3eff;
  }
}

@keyframes neonStrictText {
  from {
    text-shadow: 0 0 10px #ff9900;
  }
  to {
    text-shadow: 0 0 8px #ff9900;
  }
}

@keyframes neonStrictModeOn {
  from {
    box-shadow: 0 0 8px orange;
  }
  to {
    box-shadow: 0 0 10px orange;
  }
}
